@font-face {
	font-family: "NNSQUAREROUNDR";
	src: url('./NanumSquareRoundR.ttf');
}

html * {
	font-family: "NNSQUAREROUNDR";
}

input {
	background: white;
	border: 1px solid lightgray;

	cursor: text;

	font-size: 14px;

	height: 30px;

	text-align: center;
}

input:focus{
    outline: none;
}

input:hover {
	background: white;

	color: rgb(41, 136, 255);
}

input:disabled {
	color: gray;
	cursor: not-allowed;
}

button {
	background: whitesmoke;
	border: 1px solid lightgray;

	color:gray;
	cursor: pointer;

	font-size: 24px;

	width: 100%;
}

button:disabled {
	cursor: not-allowed;
}

table {
	background: white;

	font-size: 16px;
	
	text-align: center;

	width: 100%;
}

td {
	background-color: white;

	font-size: 14px;

	padding: 10px;
}

body {
	background: rgba(41, 136, 255, 0.1) !important;

	display: flex;
}

.header {
	box-shadow: 0px 1px 3px gray;
	
	color: rgb(41, 136, 255); 

	left: 0%;

	position: fixed;

	text-align: center;
	top: 0%;

	width: 100vw;

	z-index: 20000001;
}

.header-text {
	font-size: 24px; 
	font-weight: bold;
}

.frame {  	
	left: 50%;

	margin-top: 100px;

	position: absolute;
  
	text-align: center;
	transform: translateX(-50%);

	width: 600px;
}

.body {
	height: 100%;

	padding: 15px;

	width: 100%;

	overflow: scroll;
}

.th {
	background-color: rgba(41, 136, 255, 0.8);

	color: white;

	font-size: 16px;
	font-weight: bold;
	
	padding: 5px;

	width: 50%;
}

.input-file-button{
	display: block;

	background: whitesmoke;
	border: 1px solid lightgray;

	color: gray;
	cursor: pointer;

	font-size: 14px;

	height: 30px;

	padding-top: 4px;

	text-align: center;

	width: 100%;
}

.input-file-button:hover{
	background: rgba(41, 136, 255, 0.3);

	color: rgb(41, 136, 255);

	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}

#sfy-email-text {
	border: 1px solid lightgray;

	color: black;

	font-size: 16px;

	padding: 10px;
}